$max-width: 800px;
$max-width-header: 1200px;
$header-height: 70px;

// colors
$primary-color: rgb(26, 26, 26);
$secondary-color: #3bdad4;
$secondary-color-dark: #2f9e94;
$gray-color: #9c9c9c;
$gray-color-transparent: rgba(156, 156, 156, 0.5);
$card-background: rgb(15 23 42 / 1);
