@use "../../styles/variables.scss" as *;

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: $header-height;
  // background: rgba(36, 36, 36, 0.7);
  backdrop-filter: blur(3px);
  z-index: 10;
  .header__content {
    margin: 0 auto;
    padding: 6px 10px;
    max-width: $max-width-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__nav {
      display: flex;
      gap: 10px;
      .header__section {
        display: inline-block;
      }
    }
  }
  .header__breadcrumb {
    display: none;
  }
  .header__nav_responsive {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__breadcrumb {
    display: block !important;
    padding: 3px 5px;
    text-align: center;
    cursor: pointer;
    i {
      font-size: 1.18rem;
    }
  }
  .header__nav {
    display: none !important;
  }
  .header__nav_responsive {
    display: block !important;
    position: absolute;
    top: $header-height;
    left: 0;
    width: 100%;
    background: rgba(36, 36, 36, 0.938);
    backdrop-filter: blur(100px);
    z-index: 10;
    .header__section {
      display: block;
      padding: 5px;
      text-align: center;
    }
  }
}
